@using MVCPractice.Common;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WelCome</title>
</head>
<body>
    <div>
        <h1>Ajit</h1>

        @Html.ActionLink("www.google.com", "Visit Google.com");

        @Html.Image("D:\\mis doc\\25.jpg");
    </div>
</body>
</html>
