
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <div>
        <h2>Welcome to MVC Training</h2>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
       @if(IsSectionDefined("mysection"))
        {
            @RenderSection("mysection")
        }
        else
        {
        <h3>Default Content</h3>
        }
    </div>
    <div>
        <h3>Copyright 2023</h3>
    </div>
</body>
</html>
